---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_INVITE_SID>/VerificationCheck
    body:
      encoding: US-ASCII
      string: VerificationSid=VE7d76d48100bfdac4045dd87079ce3020&Code=8842
    headers:
      Authorization:
      - Basic <TWILIO_INVITE_API_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ10f6f56d192f4e6781de6933319c3860
      Twilio-Request-Duration:
      - '0.031'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "approved", "payee": null, "date_updated": "2020-01-15T17:33:10Z",
        "account_sid": "AC26ae8f8a9fc87de1272bba1f9c51ff8e", "to": "+11112223333",
        "amount": null, "valid": true, "sid": "VE7d76d48100bfdac4045dd87079ce3020",
        "date_created": "2020-01-15T17:32:56Z", "service_sid": "<TWILIO_INVITE_SID>",
        "channel": "sms"}'
  recorded_at: Wed, 15 Jan 2020 17:33:10 GMT
recorded_with: VCR 5.0.0
