---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_INVITE_SID>/Verifications
    body:
      encoding: US-ASCII
      string: To=%2B13343204550&Channel=sms
    headers:
      Authorization:
      - Basic <TWILIO_INVITE_API_BASIC_AUTH>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ716cf782f47b404b84d5daae7bdc4dba
      Twilio-Request-Duration:
      - '0.114'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2020-01-14T22:22:35Z",
        "account_sid": "AC26ae8f8a9fc87de1272bba1f9c51ff8e", "to": "+13343204550",
        "amount": null, "valid": false, "lookup": {"carrier": {"mobile_country_code":
        "310", "type": "mobile", "error_code": null, "mobile_network_code": "160",
        "name": "T-Mobile USA, Inc."}}, "url": "https://verify.twilio.com/v2/Services/VA2d31e354180af7395afc63e5efe723ad/Verifications/VE95eef5a12bf4a0b780743b3f75c2fc7a",
        "sid": "VE95eef5a12bf4a0b780743b3f75c2fc7a", "date_created": "2020-01-14T22:16:45Z",
        "service_sid": "VA2d31e354180af7395afc63e5efe723ad", "channel": "sms"}'
  recorded_at: Tue, 14 Jan 2020 22:22:35 GMT
recorded_with: VCR 5.0.0
