---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_API_VERIFY_SID>/VerificationCheck
    body:
      encoding: US-ASCII
      string: VerificationSid=VE7d76d48100bfdac4045dd87079ce3020&Code=9999
    headers:
      Authorization:
      - Basic <TWILIO_API_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQe1bdb28fd5d645b1b84528b67b41d8f1
      Twilio-Request-Duration:
      - '0.029'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2020-01-15T18:35:24Z",
        "account_sid": "AC26ae8f8a9fc87de1272bba1f9c51ff8e", "to": "+11112223333",
        "amount": null, "valid": false, "sid": "VE7d76d48100bfdac4045dd87079ce3020",
        "date_created": "2020-01-15T18:34:57Z", "service_sid": "<TWILIO_API_VERIFY_SID>",
        "channel": "sms"}'
  recorded_at: Wed, 15 Jan 2020 18:35:24 GMT
recorded_with: VCR 5.0.0
