---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_API_ACCOUNT_SID>/Messages.json
    body:
      encoding: US-ASCII
      string: To=%2B11112223333&From=%2B15005550006&Body=Test+from+Cohere.&
    headers:
      Authorization:
      - Basic <TWILIO_API_BASIC_AUTH>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ725fcfe51548456a91738b2d0e92981c
      Twilio-Request-Duration:
      - '0.042'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM7f918f9610ee44448308f52982d47fb6", "date_created": "Mon,
        30 Mar 2020 20:23:23 +0000", "date_updated": "Mon, 30 Mar 2020 20:23:23 +0000",
        "date_sent": null, "account_sid": "<TWILIO_API_ACCOUNT_SID>", "to": "+11112223333",
        "from": "+15005550006", "messaging_service_sid": null, "body": "Test from
        Cohere.", "status": "queued", "num_segments": "1", "num_media": "0", "direction":
        "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIO_API_ACCOUNT_SID>/Messages/SM7f918f9610ee44448308f52982d47fb6.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_API_ACCOUNT_SID>/Messages/SM7f918f9610ee44448308f52982d47fb6/Media.json"}}'
  recorded_at: Thu, 01 Jan 1970 00:00:07 GMT
recorded_with: VCR 5.0.0
