---
http_interactions:
- request:
    method: post
    uri: https://api2.frontapp.com/channels/cha_lvu7/messages
    body:
      encoding: UTF-8
      string: '{"to":["+12223334444"],"body":"Test new conversation notification."}'
    headers:
      Authorization:
      - Bearer <FRONT_API_JWT>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Protected-By:
      - Sqreen
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1582062604.746'
      X-Front-Tier:
      - '2'
      Etag:
      - W/"2e4-huiXLF0xsH3a39Vu0X+/yLTCvto"
      X-Front-Time:
      - '798'
    body:
      encoding: UTF-8
      string: '{"_links":{"self":"https://api2.frontapp.com/messages/msg_aw2ni2v","related":{"conversation":"https://api2.frontapp.com/conversations/cnv_609wyrr"}},"id":"msg_aw2ni2v","type":"sms","is_inbound":false,"created_at":1582062544.91,"blurb":"","body":"<div></div>","text":"Test
        body.","is_draft":true,"error_type":null,"version":"b48501d7f58bce832a8b1589cd915871-362223-1582062544910-0bb2","metadata":{},"author":null,"recipients":[{"_links":{"related":{"contact":null}},"handle":"+13132142937","role":"from"},{"_links":{"related":{"contact":null}},"handle":"+12245882478","role":"to"}],"attachments":[],"conversation_reference":"b48501d7f58bce832a8b1589cd915871@frontapp.com","message_uid":"b48501d7f58bce832a8b1589cd915871","status":"accepted"}'
  recorded_at: Tue, 18 Feb 2020 21:49:05 GMT
recorded_with: VCR 5.0.0
