---
http_interactions:
- request:
    method: post
    uri: https://api2.frontapp.com/conversations/cnv_609wyrr/messages
    body:
      encoding: UTF-8
      string: '{"body":"Test reply notification."}'
    headers:
      Authorization:
      - Bearer <FRONT_API_JWT>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Protected-By:
      - Sqreen
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1582062783.908'
      X-Front-Tier:
      - '2'
      Etag:
      - W/"2d5-7cUzFdAzrf9Y9ZTBZnu62l8Q/oY"
      X-Front-Time:
      - '386'
    body:
      encoding: UTF-8
      string: '{"_links":{"self":"https://api2.frontapp.com/messages/msg_aw2wpfr","related":{"conversation":"https://api2.frontapp.com/conversations/cnv_609wyrr"}},"id":"msg_aw2wpfr","type":"sms","is_inbound":false,"created_at":1582062724.131,"blurb":"","body":"<div></div>","text":"Test
        reply notification.","is_draft":true,"error_type":null,"version":"68ca72644927322d707156567c54a4fb-362223-1582062724131-7b6e","metadata":{},"author":null,"recipients":[{"_links":{"related":{"contact":null}},"handle":"+14445557777","role":"from"},{"_links":{"related":{"contact":"https://api2.frontapp.com/contacts/crd_i8nmfb"}},"handle":"+12223334444","role":"to"}],"attachments":[],"message_uid":"68ca72644927322d707156567c54a4fb","status":"accepted"}'
  recorded_at: Tue, 18 Feb 2020 21:52:04 GMT
recorded_with: VCR 5.0.0
