.Contract {
  font-family: $fontFamily, system-ui, sans-serif;
  font-size: $fontSize5;
  font-weight: $fontWeightRegular;
  font-style: normal;

  // -- sections --
  // -- sections/meap
  &-meapSignatures {
    margin-top: $spacing1 !important;
  }

  // -- sections/app
  &-affordablePaymentPlan {
    page-break-before: always;
  }

  // -- rows --
  // -- rows/name
  &-applicantName {
    display: inline-block;
    width: 30%;
  }

  &-phoneNumber {
    display: inline-block;
    width: 20%;
  }

  // -- rows/address
  &-address {
    width: 40%;
  }

  // -- rows/signature
  $signature-height: 60px;

  &-signature {
    width: 50%;
  }

  &-date {
    width: 20%;
  }
}
