<section class="CaseDocuments">
  <h1>Documents</h1>
  <ul class="CaseDocuments-list">
    <% if documents.blank? %>
      <p>This case has no documents yet.</p>
    <% else %>
      <% documents.each do |d| %>
        <li class="CaseDocument">
          <%- file_url = d.file.attached? ? url_for(d.file) : nil %>

          <% if file_url.nil? %>
            <p class="CaseDocument-placeholder">This file is being processed.</p>
          <% else %>
            <%- image_url = file_url %>
            <%- image_url = d.file.attachment.preview(resize: "200x200>") if d.file.attachment.previewable? %>
            <%= image_tag(image_url, height: 140, class: "CaseDocument-image") %>
          <% end %>

          <div class="CaseDocument-info">
            <% if d.classification != :unknown %>
              <label class="CaseDocument-classification">
                <%= d.classification.to_s.titlecase %>
              </label>
            <% end %>

            <%=
              link_to("View Document", file_url || "",
                class: "CaseDocument-link",
                target: "_blank",
                rel: "noopener noreferrer"
              )
            %>
          <div class="CaseDocument-info">
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
