<%= section_tag(t(".title"), class: "CaseNotes") do %>
  <ul class="CaseNotes-list">
    <% if notes.blank? %>
      <%= tag.p(t(".list.fallback"), class: "CaseNotes-fallback") %>
    <% else %>
      <% notes.each do |note| %>
        <li class="CaseNote">
          <%= note.body %>
        </li>
      <% end %>

    <% end %>

    <%= button_tag("Add Note", id: "add-note", class: "Button Button--secondary") %>
  </ul>
<% end %>
