<main class="Main">
  <h1 class="Main-title">
    All Cases
  </h1>
  <ul class="CaseList">
    <% if @cases.blank? %>
      <p>No cases left!</p>
    <% else %>
      <% @cases.each do |kase| %>
        <li class="CaseCell">
          <%=
            link_to(kase.recipient.name, kase, class: "CaseCell-name")
          %>
          <div class="CaseCell-row">
            <% if @policy.permit?(:view_status) %>
              <p class="CaseCell-enroller">
                <%= kase.status.camelize %>
              </p>
            <% end %>
            <p class="CaseCell-enroller">
              <%= kase.enroller.name %>
            </p>
            <p class="CaseCell-updateTime">
              Updated <%= time_ago_in_words(kase.updated_at) %> ago
            </p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</main>
