.Button {
  display: block;
  height: $height2;
  line-height: $height2;
  padding: 0 $spacing3;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.Button--action {
  @extend .Button;

  color: $white;
  background-color: $brandPrimary;

  &:hover {
    color: $white;
    background-color: lighten($brandPrimary, 5%);
  }
}

.Button--destructive {
  @extend .Button;

  border: 2px solid $colorField;
  line-height: $height2 - 4px;

  &:hover {
    background-color: $colorField;
  }
}

.Button--secondary {
  @extend .Button;

  color: $brandPrimary;
  border: 2px solid $brandPrimary;

  &:hover {
    color: lighten($brandPrimary, 5%);
    border-color: lighten($brandPrimary, 5%);
  }
}
