%button {
  @extend .u-action;
  @include prefix(moz webkit, (appearance: none));

  display: flex;
  align-items: center;
  padding: 0 $spacing3;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.05s;

  &:disabled {
    opacity: $opacity-disabled;
    pointer-events: none;
  }
}

.Button {
  @extend %button;
  height: $height2;
}

.ButtonSm {
  @extend %button;
  height: $height3;
}

.ButtonBase {
  @extend %button;
}

.Button--action {
  color: $white;
  background-color: $brand-primary;

  &:hover {
    color: $white;
    background-color: lighten($brand-primary, 5%);
  }
}

.Button--secondary {
  color: $brand-primary;
  border: 2px solid $brand-primary;

  &:hover {
    color: lighten($brand-primary, 5%);
    border-color: lighten($brand-primary, 5%);
    background-color: $color-field;
  }
}

.Button--destructive {
  color: $brand-primary;
  border: 2px solid $brand-primary;

  &:hover {
    color: $color-error;
    border-color: $color-error;
    background-color: $color-field;
  }
}
