.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $width4;
  height: $height2;
  color: $brandPrimary;
  border: 1px solid $brandPrimary;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: lighten($brandPrimary, 5%);
    border-color: lighten($brandPrimary, 5%);
  }
}

.Button--action {
  max-width: $width4;
  height: $height1;
  color: $white;
  background-color: $brandPrimary;
  border-radius: 5px;
  padding: 0 $spacing3;
  cursor: pointer;

  &:hover {
    background-color: lighten($brandPrimary, 5%);
  }
}
