.ChatMessage {
  padding: 12px;
  border-radius: $radius-chat;
  width: 80%;

  // -- elements --
  &-sender {
    display: block;
    font-size: $font-size6;
  }

  // -- variants --
  &--sent {
    align-self: flex-end;
    background-color: $color-alert;
  }

  &--received {
    background-color: $color-field;
  }
}
