.Checkbox {
  display: inline-block;
  position: relative;
  width: $height3;
  max-width: $height3;
  height: $height3;
  margin-right: $spacing5;
  border-bottom: 2px solid $brandBlack;
  border-top-left-radius: $radiusCheckbox;
  border-top-right-radius: $radiusCheckbox;
  background-color: $colorField;

  &.is-checked {
    @include u-checkmark;
  }
}
