.Checkbox {
  display: inline-block;
  position: relative;
  width: $height3;
  max-width: $height3;
  height: $height3;
  margin-right: $spacing5;
  border-bottom: 2px solid $brand-black;
  border-top-left-radius: $radius-checkbox;
  border-top-right-radius: $radius-checkbox;
  background-color: $color-field;

  &.is-checked {
    @include u-checkmark;
  }
}
