.DetailField {
  &-hint {
    @extend .u-hint;
    display: block;
    color: $brandBlack;
    margin-bottom: $spacing6;
  }

  &-text {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
