.Filter {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 $spacing4;
  line-height: $height2;
  opacity: $opacity-inactive;
  text-decoration: none;

  &:hover, &.is-selected {
    opacity: 1.0;
  }

  &.is-selected {
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $brand-primary;
    }
  }

  &.is-error {
    &::before {
      $dot-size: 4px;

      content: "";
      position: absolute;
      left: 4px;
      width: $dot-size;
      height: $dot-size;
      border-radius: $dot-size / 2;
      background-color: $color-error;
    }
  }
}
