.Filters {
  // -- children --
  &-option {
    @extend .u-action;

    position: relative;
    display: flex;
    align-items: center;
    opacity: $opacity-inactive;
    text-decoration: none;

    &:hover, &.is-selected {
      opacity: 1.0;
    }
  }

  &-text {
    padding-bottom: $spacing6;
    pointer-events: none;
  }

  // -- variants --
  @mixin underline {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $brand-primary;
  }

  @mixin activity {
    $dot-size: 4px;
    content: "";
    width: $dot-size;
    height: $dot-size;
    border-radius: $dot-size / 2;
    background-color: $color-error;
  }

  // -- variants/horizontal
  &--horizontal {
    display: inline-flex;
    max-width: $width1;
    border-bottom: 1px solid fade-out($brand-black, 0.8);
  }

  &--horizontal &-option {
    padding: 0 $spacing4;

    &.is-selected::after {
      @include underline;
      bottom: -2px;
    }

    &.is-active::before {
      @include activity;
      position: absolute;
      left: 4px;
    }
  }

  &--horizontal &-text {
    padding-bottom: 5px;
  }

  // -- variants/vertical
  &--vertical {
    display: flex;
    flex-direction: column;
  }

  &--vertical &-option + &-option {
    margin-top: 7px;
  }

  &--vertical &-text {
    padding-bottom: 3px;
    position: relative;
  }

  &--vertical &-option.is-active &-text {
    display: flex;
    align-items: center;

    &::after {
      @include activity;
      margin-left: $spacing6;
    }
  }

  &--vertical &-option.is-selected &-text::before {
    @include underline;
    bottom: 0;
  }
}
