.Form {
  display: grid;
  row-gap: $spacing1;
}

.Field {
  > label {
    @extend .u-hint;
    display: block;
    color: $colorPrimaryBlack;
  }

  > input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid $black;

    &::placeholder {
      color: $gray1;
    }
  }
}

.Button {
  height: 42px;
  border: 1px solid $colorPrimary;
  color: $colorPrimary;
  background: none;
  cursor: pointer;
}
