.Form {
  display: grid;
  gap: $spacing1;
  padding: $spacing1;

  &-tab {
    display: none;

    &.is-visible {
      display: flex;
      flex-direction: column;
      gap: $spacing1;
    }
  }

  &-section {
    display: grid;
    gap: $spacing5;
    grid-template-columns: repeat(8, 1fr) $height1;

    > h1 {
      @extend .u-section-name;

      grid-column: 1 / 10;
      margin-bottom: $spacing6;

      > span {
        position: relative;
        display: inline-block;
        padding-bottom: $spacing5;

        /* bottom-border */
        &::after {
          content: "";
          position: absolute;
          display: block;
          bottom: 0;
          width: 100%;
          height: 3px;
          background-color: fade-out($brandPrimary, 0.7);
        }
      }
    }
  }

  &-actions {
    flex: 1;
    display: flex;
    align-items: flex-end;
    gap: $spacing5;

    &-submit {
      min-width: $width6;
      justify-self: start;
    }
  }
}
