.FormField {
  overflow-x: hidden;

  &.is-disabled {
    opacity: $opacityDisabled;
  }

  &-hint {
    @extend .u-hint;
    display: block;
    margin-bottom: $spacing5;
    color: $colorError;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    > span:first-child {
      color: $brandBlack;
    }
  }

  &-input {
    display: flex;
    align-items: center;
    height: $height1;
    padding-top: $spacing4;
    padding-bottom: $spacing4;
  }

  &-input--bare {
    display: flex;
    align-items: center;
  }

  &-input--background {
    display: flex;
    align-items: center;
    height: $height1;
    padding: $spacing4;
    border-bottom: 2px solid $brandBlack;
    border-top-left-radius: $radiusField;
    border-top-right-radius: $radiusField;
    background-color: $colorField;

    &:focus-within {
      border-bottom-color: $brandPrimary;
    }
  }

  &-prefix {
    margin-right: $spacing5;
    color: $gray1;
  }

  &-value {
    height: $height1;
    padding-top: $spacing4;
    padding-bottom: $spacing4;

    &.is-missing {
      color: $gray1;
    }
  }

  &-errors {
    color: $colorError;
    font-weight: $fontWeightRegular;
    background-color: $white;
  }

  &.is-error:hover &-errors {
    position: absolute;
    transform: translateX(4px);
  }

  input {
    flex: 1;
    width: 0;
    min-width: 0;

    &::placeholder {
      color: $gray1;
      opacity: 1;
    }
  }

  input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;

    position: relative;
    max-width: $height3;
    height: $height3;
    margin-right: $spacing4;
    border-bottom: 2px solid $brandBlack;
    border-top-left-radius: $radiusCheckbox;
    border-top-right-radius: $radiusCheckbox;
    background-color: $colorField;

    &:checked {
      @include u-checkmark;
    }
  }
}
