/* form */
.Form {
  display: grid;
  gap: $spacing1;

  &-group {
    display: grid;
    gap: $spacing2;
    grid-template-columns: repeat(3, 1fr);

    > h2 {
      grid-row: 1;
      grid-column: 1 / 4;
    }
  }
}

/* field */
$f: ".Field";

#{$f} {
  #{$f}-hint {
    @extend .u-hint;
    display: block;
    color: $colorPrimaryBlack;
  }

  input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid $black;

    &::placeholder {
      color: $gray1;
    }
  }
}

#{$f}.is-error {
  #{$f}-errors {
    color: $colorError;
    font-weight: $fontWeightRegular;
  }
}

/* button */
.Button {
  height: 42px;
  border: 1px solid $colorPrimary;
  color: $colorPrimary;
  background: none;
  cursor: pointer;
}
