.Layout {
  // -- variables --
  --icon-color: #{$black};

  // -- properties --
  display: flex;
  flex-direction: column;
  height: 100vh;

  // -- children --
  &-frame {
    flex: 1;
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &-content {
    flex: 1;
    position: relative;
    overflow-y: scroll;
    height: 100%;
  }

  &-banner {
    @extend .u-label;

    position: sticky;
    top: 0;
    width: 100%;
    padding: $spacing6;
    background-color: $color-alert;
    text-align: center;
    z-index: 2;
  }

  // -- variants --
  @mixin role-theme($role-color) {
    --role-color: #{$role-color};
    --role-color-bg: #{fade-out($role-color, 0.80)};
  }

  &--source {
    @include role-theme($color-source);
  }

  &--governor {
    @include role-theme($color-governor);
  }

  &--agent {
    @include role-theme($color-agent);
  }

  &--enroller {
    @include role-theme($color-enroller);
  }
}
