.Main {
  padding: 80px;
  padding-top: $spacing1;z

  &-title {
    display: inline-block;
    color: $brandBlack;
    font-size: $fontSize0;
    margin-bottom: $spacing1;
  }

  &-actions {
    font-size: $fontSize1;
  }
}
