.Main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: $spacing0;

  // Main-header
  &-header {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: $spacing3;
    margin-bottom: $spacing3;
  }

  &-back {
    position: absolute;
    top: -30px;
    font-size: 12px;
  }

  &-title {
    color: $brandBlack;
    font-size: $fontSize0;
  }

  &-filters {
    width: 100%;
    padding: 0 $spacing6;
  }

  &-actions {
    display: flex;
    gap: $spacing5;
  }
}
