.Main {
  padding: $spacing1;

  &-title {
    display: inline-block;
    color: $brandBlack;
    font-size: $fontSize0;
    margin-bottom: $spacing1;
  }

  &-actions {
    font-size: $fontSize1;
  }
}
