// -- utilities --
%u-panel-flow {
  display: flex;
  flex-direction: column;

  > .Panel-section + .Panel-section {
    margin-top: $spacing1;
  }
}

// -- main --
.Panel {
  @extend %u-panel-flow;
  padding: $spacing1;

  // -- elements --
  &-tab {
    display: none;

    &.is-visible {
      @extend %u-panel-flow;
    }
  }

  &-section {
    display: grid;
    gap: $spacing5;
    grid-template-columns: repeat(8, 1fr) $height1;
  }

  &-sectionTitle {
    @extend .u-section-name;

    grid-column: 1 / 10;
    margin-bottom: $spacing6;

    > span {
      position: relative;
      display: inline-block;
      padding-bottom: $spacing5;

      /* bottom-border */
      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: fade-out($brand-primary, 0.7);
      }
    }
  }

  &-actions {
    flex: 1;
    display: flex;
    align-items: flex-end;

    > * + * {
      margin-left: $spacing5;
    }
  }

  // -- variants --
  &--read, &--read &-tab {
    > .Panel-section + .Panel-section {
      margin-top: $spacing2;
    }
  }

  &--read &-section {
    row-gap: $spacing4;
  }
}
