.Phone {
  flex: 1;

  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-frame {
    @include desktop {
      position: relative;
      box-shadow: 0px 0px 10px $color-shadow;
      border-radius: $radius-chat;
      background-color: $white;
      overflow-x: hidden;
    }

    @include mobile {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &-view {
    overflow-y: scroll;

    @include desktop {
      width: 340px;
      height: 568px;
    }

    @include mobile {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }
  }
}
