<main class="DemoPhone Phone Page">
  <div class="Phone-frame">
    <%=
      render(partial: "chats/chat", locals: {
        chat: @chat,
        sender: "recipient",
        receiver: "Gaby",
      })
    %>
  </div>

  <% case @demo_id %>
  <% when "a01" %>
    <%= demo_coachmark_tag(t("demo.role.applicant.mark")[0], anchor: :left) %>
  <% when "a02" %>
    <%= demo_coachmark_tag(t("demo.role.applicant.mark")[1], anchor: :right) %>
  <% when "a03" %>
    <%= demo_coachmark_tag(t("demo.role.applicant.mark")[2], anchor: :right) %>
  <% end %>
</main>
