<%# -- json -- %>
<%- chat_json = Chats::EncodeMessage.(chat.messages) %>
<script id="chat-json" type="application/json">
  <%== chat_json.to_json %>
</script>

<%# -- view -- %>
<%- data = { sender: sender, receiver: receiver } %>
<%- data.merge!(local_assigns[:data] || {}) %>

<%= tag.article(id: "chat", class: cx(local_assigns[:class], "Chat Phone-view"), data: data) do %>
  <ol id="chat-messages" class="Chat-messages"></ol>

  <%= form_for(:chat, html: { id: "chat-form", class: "Chat-form" }) do |f| %>
    <ol id="chat-files" class="Chat-files is-empty"></ol>

    <div class="Chat-controls">
      <div class="Chat-field">
        <span id="chat-input" contenteditable="true" class="Chat-input"></span>
        <span class="Chat-placeholder">Enter your message...</span>

        <label class="Chat-addFile">
          <input id="chat-file-input" type="file" multiple="true" />
        </label>
      </div>

      <button class="Chat-send" alt="Send Message"></button>
    </div>
  <% end %>

  <figure class="Chat-spinner"></figure>
<% end %>
