<main class="ShowChat">
  <article class="Chat">
    <ul id="chat" class="Chat-messages">
    </ul>

    <form id="chat-form" class="Chat-form">
      <div class="Chat-field">
        <span id="chat-field" contenteditable="true" class="Chat-input"></span>
        <span class="Chat-placeholder">Enter your message...</span>
      </div>
      <button class="Chat-send" alt="Send Message"></button>
    </form>
  </article>
</main>
