<main class="ShowChat Phone">
  <div class="Phone-frame">
    <%=
      render(partial: "chats/chat", locals: {
        chat: @chat,
        sender: Chat::Sender.recipient,
        receiver: "Gaby",
      })
    %>
  </div>
</main>
