.CaseCell {
  @extend .u-panel-cozy;

  position: relative;

  // -- row --
  &-row {
    display: flex;
    align-items: baseline;

    > * + * {
      margin-left: $spacing5;
    }
  }

  &-row:last-child {
    justify-content: space-between;
  }

  // -- elements --
  &-name {
    display: inline-block;
    font-size: $font-size3;
  }

  &-organizations {
    color: $gray1;
  }

  &-updateTime {
    color: $gray1;
  }

  &-approved {
    display: flex;
  }

  &-approvedCheckmark {
    @include u-checkmark($offset-x: 2px, $offset-y: 10px);

    width: $height3;
    height: $height3;
    margin-left: $spacing5;
    color: transparent;
  }

  // -- variants --
  &.is-active &-activity {
    $size: 8px;
    align-self: center;
    width: $size;
    height: $size;
    background-color: $brand-secondary1;
    border-radius: $size / 2;
  }

}
