.CaseDetail {
  flex: 1;
  display: flex;

  > * + * {
    margin-left: $spacing3;
  }

  &-case {
    flex: 1;
    max-width: $width1;
  }

  &-phone {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }

  // -- variants --
  &--edit &-case {
    @extend .u-panel-cozy;
    @extend .CaseForm;
    @extend .Panel;
  }

  &--view &-case {
    @extend .u-panel-cozy;
    @extend .Panel;
    @extend .Panel--read;
  }
}
