.CaseList {
  display: flex;
  flex-direction: column;
  max-width: $width1;

  &-prompt {
    @extend .u-prompt;
  }

  &-fallback {
    font-size: $font-size4;
    font-style: italic;
  }

  > * + * {
    margin-top: $spacing3;
  }
}
