.CaseForm {
  @extend .u-panel;
  flex: 1;
  max-width: $width1;

  /* CaseForm-case */
  &-enroller {
    grid-column: 1 / 4;
    margin-top: $spacing4;
  }

  &-status {
    grid-column: 1 / 4;
  }

  &-signedContract {
    grid-column: 4 / 7;
  }

  /* CaseForm-name */
  &-firstName {
    grid-column: 1 / 4;
  }

  &-lastName {
    grid-column: 4 / 8;
  }

  /* CaseForm-contact */
  &-phoneNumber {
    grid-column: 1 / 5;
  }

  /* CaseForm-address */
  &-address--read {
    gap: $spacing6;
  }

  &-addressLine {
    grid-column: 1 / 10;
  }

  &-street {
    grid-column: 1 / 7;
  }

  &-street2 {
    grid-column: 1 / 6;
  }

  &-city {
    grid-column: 1 / 4;
  }

  &-state {
    grid-column: 4 / 5;
  }

  &-zip {
    grid-column: 5 / 7;
  }

  /* CaseForm-utilityAccount */
  &-accountSupplier {
    grid-column: 1 / 10;
    margin-bottom: $spacing4;
  }

  &-accountNumber {
    grid-column: 1 / 5;
  }

  &-arrears {
    grid-column: 5 / 8;
  }

  /* CaseForm-dhs */
  &-dhsNumber {
    grid-column: 1 / 6;
  }

  /* CaseForm-household */
  &-householdSize {
    grid-column: 1 / 2;
  }

  &-monthlyIncome {
    grid-column: 2 / 5;
  }

  &-fpl {
    grid-column: 1 / 6;
  }
}
