.CaseForm {
  // CaseForm-details
  &-status {
    grid-area: 2 / span 2;
  }

  &-enroller {
    grid-area: 2 / span 3;
  }

  &-program {
    grid-area: 3 / span 3;
  }

  // CaseForm-name
  &-firstName {
    grid-column: 1 / 4;
  }

  &-lastName {
    grid-column: 4 / 8;
  }

  // CaseForm-contact
  &-phoneNumber {
    grid-column: 1 / 5;
  }

  // CaseForm-address
  &-address--read {
    gap: $spacing7;
  }

  &-addressLine {
    grid-column: 1 / 10;
  }

  &-street {
    grid-column: 1 / 7;
  }

  &-street2 {
    grid-column: 1 / 6;
  }

  &-geography {
    grid-column: 6 / 10;
  }

  &-city {
    grid-column: 1 / 4;
  }

  &-state {
    grid-column: 4 / 5;
  }

  &-zip {
    grid-column: 5 / 7;
  }

  // CaseForm-household
  &-size {
    grid-area: 2 / auto;
  }

  &-ownership {
    grid-area: auto / span 3;
  }

  &-proofOfIncome {
    grid-area: 3 / span 6;
  }

  &-dhsNumber {
    grid-area: 4 / span 3;
  }

  &-monthlyIncome {
    grid-area: 4 / span 4;
  }

  &-fplPercent {
    grid-area: 4 / span 3;
    padding-left: $spacing6;
  }

  // CaseForm-utilityAccount
  &-supplier {
    grid-column: 1 / 5;
    margin-bottom: $spacing5;
  }

  &-hasActiveService {
    grid-column: 5 / 10;
    padding-left: $spacing5;
  }

  &-accountNumber {
    grid-column: 1 / 6;
  }

  &-arrears {
    grid-column: 6 / 8;
  }

  // CaseForm-food
  &-dietaryRestrictions {
    grid-area: auto / span 4;
  }

  // CaseForm-benefit
  &-benefitAmount {
    grid-area: auto / span 3;
  }

  &-benefitContract {
    grid-area: auto / span 5;
  }
}

.CaseFormAdmin {
  &-status {
    grid-column: 1 / 4;
  }
}

.CaseFormAssignments {
  &-list {
    > * + * {
      margin-top: $spacing4;
    }
  }

  &-entry {
    display: flex;
    align-items: center;
  }

  &-unassign {
    margin-left: $spacing5;
  }
}

.CaseFormDanger {
  &-warning {
    grid-column: 1 / 10;
    justify-self: start;
    margin-bottom: $spacing5;
  }

  &-delete {
    grid-column: 1 / 10;
    justify-self: start;
  }
}
