.CaseDocument {
  $height: 140px;

  &-placeholder {
    height: $height;
    padding: $spacing3;
    border-radius: $radius;
    background-color: $color-field;
  }

  &-image {
    height: $height;
    border-radius: $radius;
  }

  &-info {
    margin-top: $spacing5;
    padding-left: $radius;
    padding-right: $radius;
  }

  &-classification {
    @extend .u-label-hint;
    display: block;
  }

  &-link {
    display: block;
  }
}
