.CaseNotes {
  &-list {
    grid-area: auto / span 7;
  }

  &-addNote {
    grid-area: auto / span 9;
    text-align: left;
    font-style: italic;
  }

  &-fallback {
    grid-area: auto / span 9;
    font-size: $font-size5;
    font-style: italic;
  }
}

.CaseNote {
  &-user {
    @extend .u-label;
  }

  &-timestamp {
    @extend .u-label;

    &::before {
      content: "— ";
    }
  }
}

.CaseNote + .CaseNote {
  margin-top: $spacing4;
  padding-top: $spacing4;
  border-top: 1px solid $color-divider;
}

.CaseNoteForm {
  width: $width3;
}
