.CaseNotes {
  &-actions {
    grid-area: auto / span 9;
    margin-bottom: $spacing6;
  }

  &-list {
    grid-area: auto / span 7;
  }
}

.CaseNote {
  padding-top: $spacing4;
  border-top: 1px solid $color-divider;

  &-user {
    @extend .u-label;
  }

  &-timestamp {
    @extend .u-label;

    &::before {
      content: "— ";
    }
  }
}

.CaseNote + .CaseNote {
  margin-top: $spacing4;
}

.CaseNoteForm {
  width: $width3;
}
