.CaseCell {
  @extend .u-panel-cozy;

  &-name {
    display: inline-block;
    font-size: $fontSize3;
  }

  &-row {
    display: flex;
    align-items: baseline;

    > * + * {
      margin-left: $spacing4;
    }
  }

  &-row:last-child {
    justify-content: space-between;
  }

  &-organizations {
    color: $gray1;
  }

  &-updateTime {
    color: $gray1;
  }
}
