.CaseList {
  max-width: $width1;
  display: grid;
  gap: $spacing1;
}

.CaseCell {
  padding: $spacing2;
  border-left: 1px solid $black;
  border-bottom: 1px solid $black;

  &-name {
    @extend .u-subtitle;

    display: inline-block;
  }

  &-row {
    display: flex;

    > * + * {
      margin-left: $spacing2;
    }
  }
}
