.CaseCell {
  @extend .u-panel-white;

  position: relative;
  overflow: hidden;

  // -- row --
  $padding: $spacing3;

  %row {
    display: flex;
    justify-content: space-between;
    padding-left: $padding;
    padding-right: $padding;
  }

  // -- row/title
  &-title {
    @extend %row;

    align-items: center;
    margin-top: $padding;
  }

  &-name {
    @extend .u-name;

    display: flex;
    align-items: center;
  }

  &-activity {
    $size: 8px;

    display: none;
    width: $size;
    height: $size;
    margin-left: $spacing5;
    background-color: $brand-secondary1;
    border-radius: $size / 2;
  }

  // -- row/details
  &-details {
    @extend %row;

    align-items: baseline;
    margin-top: $spacing6;
  }

  &-organizations {
    color: $brand-black;
    font-size: $font-size6;
  }

  // -- row/footer
  &-footer {
    @extend %row;

    align-items: center;
    height: $height4;
    margin-top: $spacing4;
    background-color: $gray2;
  }

  &-status {
    @extend .u-label;

    color: $brand-black;
    opacity: 0.85;
  }

  &-date {
    @extend .u-label;

    color: $brand-black;
    opacity: 0.85;
  }

  // -- variants --
  $color-progress: #edfff2;
  $color-alert: #ffe2df;

  @mixin progress($percent) {
    background: linear-gradient(
      to right,
      $color-progress 0%,
      $color-progress $percent,
      $gray2 $percent
    );
  }

  @mixin alert() {
    background: repeating-linear-gradient(
      -45deg,
      $gray2,
      $gray2 10px,
      $color-alert 10px,
      $color-alert 20px
    );
  }

  &-opened &-footer, &-removed &-footer {
    @include progress(33%);
  }

  &-pending &-footer {
    @include alert;
  }

  &-submitted &-footer {
    @include progress(66%);
  }

  &-approved &-footer {
    @include progress(100%);
  }

  &-denied &-footer {
    background-color: $color-alert;
  }

  // -- states --
  &.is-active &-activity {
    display: block;
  }
}
