.CaseDetail {
  flex: 1;
  display: flex;

  > * + * {
    margin-left: $spacing3;
  }

  &-case {
    display: flex;
    flex-direction: column;
    width: $width1;
    overflow: hidden;
  }

  &-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height3;
    padding: 0 $spacing1;
    background-color: $color-accent;
  }

  &-id {
    @extend .u-label;
  }

  &-content {
    flex: 1;
  }

  &-phone {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }

  // -- variants --
  &--edit &-case {
    @extend .u-panel-white;
  }

  &--edit &-content {
    @extend .Panel;
    @extend .CaseForm;
  }

  &--view &-case {
    @extend .u-panel-white;
  }

  &--view &-content {
    @extend .Panel;
    @extend .Panel--read;
  }
}
