.Chat {
  // -- elements
  &-window {
    position: absolute;
    width: 100%;
    height: 100%;

    @include desktop {
      overflow-y: scroll;
    }
  }

  // -- elements/config
  $form-height: 84px;
  $form-spacing: $spacing3;
  $form-controls-height: $form-height - $form-spacing * 2;
  $form-controls-spacing: 10px;

  // -- elements/messages
  &-messages[class] {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - #{$form-height});
    padding: $spacing3;
    animation: messages-appear 0.75s;

    @keyframes messages-appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    > * + * {
      margin-top: $spacing4;
    }
  }

  // -- elements/form
  &-form {
    position: sticky;
    width: 100%;
    bottom: 0;
    padding: $spacing3;
    background-color: fade-out($white, 0.05);
  }

  // -- elements/controls
  &-controls {
    display: flex;
    align-items: flex-end;
  }

  %primary-action {
    $size: 34px;

    width: $size;
    height: $size;
    margin-left: $form-controls-spacing;
    margin-bottom: ($form-controls-height - $size) / 2;
    border-radius: $size / 2;
    background-color: $brand-primary;
    cursor: pointer;
  }

  &-addFile {
    @extend %primary-action;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    // Chat-addFile > input
    > input {
      position: absolute;
      width: 0;
      visibility: hidden;
      pointer-events: none;
    }

    // Chat-addFile > icon
    &::before, &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      width: 14px;
      height: 2px;
      translate: 1px 2px;
      background-color: $white;
    }

    &:before {
      transform: translate(-1px, -2px) rotate(90deg);
    }

    &:after {
      transform: translate(-1px, -2px);
    }
  }

  &-send {
    @extend %primary-action;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    // Chat-send > icon
    &::before, &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      width: 10px;
      height: 2px;
      translate: 1px 2px;
      background-color: $white;
    }

    &:before {
      transform: translateY(-6px) rotate(45deg);
    }

    &:after {
      transform: translateY(0) rotate(-45deg);
    }
  }

  // -- elements/field
  $field-spacing: $spacing5;

  &-field {
    flex: 1;
    position: relative;
    background-color: $color-field;
    border-radius: $form-controls-height / 2;
  }

  &-input {
    box-sizing: content-box;
    display: block;
    padding: $field-spacing;
    min-height: $form-controls-height - $form-controls-spacing * 2;
    overflow-wrap: anywhere;

    &:focus {
      outline: none;
    }
  }

  &-placeholder {
    position: absolute;
    top: $field-spacing;
    left: $field-spacing;
    color: $gray1;
    pointer-events: none;
  }

  &-input:not(:empty) + &-placeholder {
    display: none;
  }

  // -- elements/files
  &-files[class] {
    margin-bottom: $spacing3;

    &.is-empty {
      display: none;
    }

    > * + * {
      margin-top: $spacing5;
    }
  }
}
