.Chat {
  @extend .u-panel;

  display: flex;
  flex-direction: column;
  width: 320px;
  height: 568px;
  padding: $spacing3 0;
  border-radius: $radius-chat;
  background-color: $white;

  // -- elements --
  &-messages[class] {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: $spacing4;
    padding: 0 $spacing3;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    animation: messages-appear 0.75s;

    @keyframes messages-appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  // -- elements/form
  $form-height: 44px;
  $form-spacing: 10px;

  &-form {
    display: flex;
    align-items: flex-end;
    margin-top: $spacing3;
    padding: 0 $spacing3;
  }

  &-send {
    $send-size: 34px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $send-size;
    height: $send-size;
    margin-left: $form-spacing;
    margin-bottom: ($form-height - $send-size) / 2;
    border-radius: $send-size / 2;
    background-color: $brand-primary;
    cursor: pointer;

    &::before, &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      width: 10px;
      height: 2px;
      translate: 1px 2px;
      background-color: $white;
    }

    &:before {
      transform: translateY(-6px) rotate(45deg);
    }

    &:after {
      transform: translateY(0) rotate(-45deg);
    }
  }

  // -- elements/field
  $field-spacing: $spacing5;

  &-field {
    flex: 1;
    position: relative;
    max-width: 100%;
    background-color: $color-field;
    border-radius: $form-height / 2;
  }

  &-input {
    box-sizing: content-box;
    display: block;
    padding: $field-spacing;
    min-height: $form-height - $form-spacing * 2;
    overflow-wrap: break-word;
  }

  &-placeholder {
    position: absolute;
    top: $field-spacing;
    left: $field-spacing;
    color: $gray1;
    pointer-events: none;
  }

  &-input:not(:empty) + &-placeholder {
    display: none;
  }
}
