.EditCase {
  display: flex;

  &-documents {
    width: $width4;
    padding-left: $spacing2;
    padding-right: $spacing2;

    > h1 {
      @extend .u-subtitle;
      margin-bottom: $spacing4;
    }

  }

  &-documentList {
    > * + * {
      margin-top: $spacing3;
    }
  }

  $documentImageHeight: 140px;

  &-document {
    > a {
      display: block;
      margin-top: $spacing4;
      margin-left: $radius;
    }
  }

  &-documentPlaceholder {
    height: $documentImageHeight;
    padding: $spacing3;
    border-radius: $radius;
    background-color: $colorField;
  }

  &-documentImage {
    height: $documentImageHeight;
    border-radius: $radius;
  }
}
