.NewReport {
  // -- structure --
  &-content {
    width: $width2;
  }

  &-prompt {
    @extend .u-prompt;
  }

  &-form {
    margin-top: $spacing2;
  }

  &-actions {
    grid-area: auto / span 9;
    margin-top: $spacing3;
  }

  // -- fields --
  &-report {
    grid-area: auto / span 4;
  }

  &-startDate {
    grid-area: 2 / span 3;
  }

  &-endDate {
    grid-area: 2 / span 3;
  }


}
