.PendingCase {
  &-title {
    @extend .u-subtitle;
    margin-top: $radius;
  }

  &-subtitle {
    max-width: $width3;
    margin-top: $spacing3;
  }

  &-field {
    max-width: $width2;
    margin-top: $spacing3;
  }
}
