.ShowCase {
  display: flex;

  &-case {
    @extend .u-panel;
    max-width: $width1;
  }

  /* Case-contact */
  &-phoneNumber {
    grid-column: 1 / 5;
  }

  &-address {
    grid-column: 1 / 7;
  }

  /* Case-utilityAccount */
  &-supplier {
    grid-column: 1 / 4;
  }

  &-accountNumber {
    grid-column: 1 / 3;
  }

  &-arrears {
    grid-column: 3 / 6;
  }

  /* Case-dhs */
  &-dhsNumber {
    grid-column: 1 / 4;
  }

  /* Case-household */
  &-size {
    grid-column: 1 / 2;
  }

  &-monthlyIncome {
    grid-column: 2 / 5;
  }
}
