.ShowStats {
  flex: 1;
  display: flex;

  &-split {
    padding: $spacing0;
  }

  &-quantitative {
    flex: 2;
  }

  &-qualitative {
    flex: 1;
    background-color: $color-field;
  }

  // -- ShowStats-quantitative/children --
  &-title > span {
    font-weight: $font-weight-thin;
  }

  &-caseDescription {
    grid-row: 3;
    grid-column: 1 / 3;
    font-weight: $font-weight-thin;
  }

  &-caseDuration {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  &-caseApproval {
    font-weight: $font-weight-regular;
  }

  &-time {
    grid-template-columns: 1fr 300px;
  }

  &-timeMin {
    grid-row: 2;
    grid-column: 1;
  }

  &-timeAvg {
    grid-row: 3;
    grid-column: 1;
  }

  &-timeByPartner {
    grid-row: 2 / 4;
    grid-column: 2;
  }

  &-applications {
    grid-template-columns: 250px 1fr;
  }

  &-applicationsEnrolled {
    grid-row: 2;
    grid-column: 2;
  }

  &-applicationsSameDay {
    grid-row: 3;
    grid-column: 2;
  }

  &-applicationsByUtility {
    grid-row: 2 / 5;
    grid-column: 1;
  }

  // -- ShowStats-quantitative/elements --
  &-sectionTitle {
    @extend .u-section;

    font-size: $font-size2;
    font-weight: $font-weight-medium;

    > span {
      position: relative;
      display: inline-block;
      padding-bottom: $spacing5;

      /* bottom-border */
      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: $color-divider;
      }
    }
  }

  &-panel {
    @extend .u-panel-cozy;

    display: grid;
    row-gap: $spacing3;
    column-gap: $spacing0;
    margin-top: $spacing2;
    padding: 50px;
  }

  &-panelTitle {
    grid-area: 1 / span 2;
    margin-bottom: $spacing3;
  }

  &-infoLabel {
    @extend .u-label-hint;
    white-space: nowrap;
  }

  // -- ShowStats-qualitative/children --
  &-quotes[class] {
    margin-top: $spacing3 + $spacing4;

    > * + * {
      margin-top: $spacing1;
    }
  }

  &-quote {
    font-size: $font-size3;
    font-style: italic;

    &::before {
      content: "â";
      display: block;
      color: $color-divider;
      font-size: 36px;
      line-height: 30px;
    }
  }
}

// -- .StatsQuestion --
.StatsQuestion {
  $size: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: $size;
  height: $size;
  bottom: $spacing3;
  right: $spacing3;
  font-size: $font-size2;
  border-radius: $size / 2;
  box-shadow: 0px 0px 5px fade-out($brand-black, 0.7);

  &-tooltip {
    @extend .u-panel;

    position: absolute;
    width: 162px;
    bottom: $size + $spacing4;
    right: 0;
    padding: $spacing5;
    opacity: 0;
    color: $black;
    line-height: 1.4;
    font-size: $font-size5;
    background-color: $white;
    transition: opacity 0.1s;
  }

  &:hover > &-tooltip {
    opacity: 1;
  }
}
