.ShowCase {
  &-status {
    grid-area: auto / span 2;
  }

  &-program {
    grid-area: auto / span 3;
  }

  &-enroller {
    grid-area: 3 / span 4;
  }

  /* ShowCase-contact */
  &-phoneNumber {
    grid-column: 1 / 5;
  }

  &-address {
    grid-column: 1 / 7;
  }

  /* ShowCase-utilityAccount */
  &-supplier {
    grid-column: 1 / 4;
  }

  &-hasActiveService {
    grid-column: 4 / 9;
  }

  &-accountNumber {
    grid-column: 1 / 4;
  }

  &-arrears {
    grid-column: 4 / 7;
  }

  /* ShowCase-household */
  &-size {
    grid-area: 2 / auto;
  }

  &-ownership {
    grid-area: auto / span 3;
  }

  &-residence {
    grid-area: auto / span 4;
  }

  &-proofOfIncome {
    grid-area: auto / span 8;
  }

  &-dhsNumber {
    grid-area: auto / span 3;
  }

  &-monthlyIncome {
    grid-area: auto / span 4;
  }

  &-fplPercent {
    grid-area: auto / span 10;
  }
}
