.ShowCase {
  display: flex;

  &-case {
    @extend .u-panel-cozy;
    max-width: $width1;
  }

  /* ShowCase-details */
  &-status {
    grid-column: 1 / 9;
  }

  &-program {
    grid-column: 1 / 4;
  }

  &-enroller {
    grid-column: 4 / 8;
  }

  /* ShowCase-contact */
  &-phoneNumber {
    grid-column: 1 / 5;
  }

  &-address {
    grid-column: 1 / 7;
  }

  /* ShowCase-utilityAccount */
  &-supplier {
    grid-column: 1 / 4;
  }

  &-accountNumber {
    grid-column: 1 / 4;
  }

  &-arrears {
    grid-column: 4 / 7;
  }

  /* ShowCase-dhs */
  &-dhsNumber {
    grid-column: 1 / 4;
  }

  /* ShowCase-household */
  &-size {
    grid-column: 1 / 2;
  }

  &-monthlyIncome {
    grid-column: 2 / 5;
  }

  &-fpl {
    grid-column: 1 / 4;
  }
}
