.SignIn {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    max-width: $width2;
    margin-top: 100px;
    text-align: center;
  }

  &-logo {
    width: $width2;
    height: 113px;
  }

  &-form {
    @extend .u-panel;

    width: $width3;
    max-width: $width3;
    margin-top: 60px;
  }

  &-submit {
    max-width: 100%;
  }

  &-error {
    color: $colorError;
    text-align: center;
  }
}
