.SignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  /* spacers */
  &:before {
    content: "";
    flex: 1;
    max-height: 100px;
  }

  &:after {
    content: "";
    flex: 1;
  }

  /* SignIn-title */
  &-title {
    max-width: $width2;
    text-align: center;
  }

  &-logo {
    width: $width2;
    height: 113px;
  }

  /* SignIn-form */
  &-form {
    @extend .u-panel;

    width: $width3;
    max-width: $width3;
    margin-top: 60px;
    padding: $spacing0;
  }

  &-email {
    grid-column: 1 / 10;
  }

  &-password {
    grid-column: 1 / 10;
  }

  &-submit {
    max-width: 100%;
  }

  &-error {
    color: $colorError;
    text-align: center;
  }
}
