<div class="CaseDetail-phone Phone-frame">
  <%=
    render(partial: "chats/chat", locals: {
      chat: chat,
      sender: Chat::Sender.cohere(cookies.signed[:chat_user_id]),
      receiver: recevier,
      data: {
        id: chat.id.val,
      },
    })
  %>

  <div class="Chat-cohere">
    <%= render(partial: "chats/macros") %>
  </div>
</div>
