<div class="CaseDetail-phone Phone-frame">
  <%=
    render(partial: "chats/chat", locals: {
      chat: chat,
      sender: Chat::Sender.cohere(cookies.signed[:chat_user_id]),
      receiver: recevier,
      data: {
        id: chat.id.val,
      },
    })
  %>

  <div class="Chat-cohere">
    <%= render(partial: "chats/macros") %>

    <%- if chat.sms_conversation_url != nil %>
      <%=
        link_to("View Conversation on Front >", chat.sms_conversation_url,
          class: "Chat-frontLink",
          target: "_blank",
          rel: "noopener noreferrer"
        )
      %>
    <%- end %>
  </div>
</div>
