<main class="Main">
  <h1 class="Main-title">
    Supplier Cases
  </h1>
  <div class="Main-actions">
    <% if policy.permit?(:create) %>
      <%= link_to("Add a Case", new_cases_supplier_path) %>
    <% end %>
  </div>
</main>
