<main class="JoinChat Phone">
  <article class="JoinChat-window Phone-frame">
    <header class="JoinChat-header">
      <h1>
        Welcome to Cohere.
      </h1>
      <h2>
        Please enter your phone number and we'll text you a code to join the chat.
      </h2>
    </header>

    <%= form_for(:invite, url: chat_invites_path, html: { class: "JoinChat-form" }) do |f| %>
      <%= f.field(:phone_number) do %>
        <%- f.telephone_field(:phone_number, placeholder: number_to_phone("3134445555")) %>
      <%- end %>

      <%= f.submit("Send Code", class: "JoinChat-action Button--action") %>
    <%- end %>
   </article>
</main>
