<p>
  A new case was opened for
  <%- case_url = case_scope.scoped_url(edit_case_url(@note.case)) %>
  <%= link_to(@note.recipient_name, case_url) %>.
</p>
<p>Please update it as soon as possible!</p>
