/* spacing */
$spacing0: 40px;
$spacing1: 20px;
$spacing2: 10px;

/* typography */
$fontSize0: 48px;
$fontSize1: 32px;
$fontSize2: 24px;
$fontSize3: 16px;
$fontWeightBold: bold;

/* colors */
$black: black;
$gray0: #777777;
$gray1: #aaaaaa;
$colorBrand: red;
