/* width */
$width0: 1000px;
$width1: 600px;
$width2: 400px;
$width3: 360px;
$width4: 300px;
$width5: 240px;

/* height */
$height1: 42px;
$height2: 36px;

/* spacing */
$spacing0: 60px;
$spacing1: 50px;
$spacing2: 40px;
$spacing3: 20px;
$spacing4: 10px;
$spacing5: 5px;
$spacing6: 0px;

/* styling */
$radius: 8px;
$radiusField: 5px;
$radiusCheckbox: 3px;

/* typography */
$fontFamily: "Euclid Flex";

$fontSize0: 48px;
$fontSize1: 32px;
$fontSize2: 24px;
$fontSize3: 20px;
$fontSize4: 18px;
$fontSize5: 16px;
$fontSize6: 11px;

$fontWeightThin: 100;
$fontWeightRegular: normal;
$fontWeightMedium: 500;
$fontWeightBold: 600;

/* colors */
$black: #000000;
$white: #ffffff;
$gray0: #777777;
$gray1: #cccccc;

/* colors/brand */
$brandPrimary: #807fff;
$brandBlack: #343434;
$brandSecondary1: #ff6e61;
$brandSecondary2: #d14252;
$brandSecondary3: #1c004a;

/* colors/feature */
$colorBackground: fade-out($brandPrimary, 0.97);
$colorField: fade-out($brandPrimary, 0.90);
$colorShadow: fade-out($brandBlack, 0.95);
$colorError: $brandSecondary2;
$colorNotice: $colorField;
$colorAlert: fade-out($brandSecondary1, 0.50);
