/* root */
body {
  @extend .u-body;
  font-family: $font-family;
  background-color: $color-bg;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

/* typography */
h1 {
  @extend .u-title;
}

h2 {
  @extend .u-subtitle;
}

a {
  @extend .u-link;
}
