/* typography */
.u-title {
  font-size: $fontSize0;
  font-weight: $fontWeightBold;
  color: $brandBlack;
  line-height: 1;
}

.u-subtitle {
  font-size: $fontSize2;
  font-weight: $fontWeightThin;
  color: $brandBlack;
  line-height: 1;
}

.u-section {
  font-size: $fontSize4;
  font-weight: $fontWeightBold;
  color: $brandBlack;
}

.u-body {
  font-size: $fontSize5;
  font-weight: $fontWeightRegular;
  line-height: 1.5;
}

.u-hint {
  font-size: $fontSize6;
  font-weight: $fontWeightRegular;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* elements */
.u-link {
  color: $brandBlack;
  text-decoration: underline;
  text-decoration-color: $brandPrimary;
  cursor: pointer;

  &:hover {
    color: $brandPrimary;
  }

  &[href=""] {
    opacity: $opacityDisabled;
    pointer-events: none;
  }
}

.u-panel {
  border-radius: $radius;
  box-shadow: 0px 0px 10px $colorShadow;
}

.u-panel-cozy {
  @extend .u-panel;
  padding: $spacing3;
  background-color: $white;
}

/* icons */
@mixin u-checkmark-arm {
  position: absolute;
  height: 2px;
  background-color: $brandPrimary;
}

@mixin u-checkmark($offset-x: 5px, $offset-y: 5px) {
  &::before {
    @include u-checkmark-arm;
    content: "";
    width: 20px;
    transform: translate($offset-x, $offset-y) rotate(-45deg);
  }

  &::after {
    @include u-checkmark-arm;
    content: "";
    width: 8px;
    transform: translate($offset-x - 3px, $offset-y + 4px) rotate(45deg);
  }
}
