/* typography */
.u-title {
  font-size: $fontSize0;
  font-weight: $fontWeightBold;
  color: $brandBlack;
}

.u-subtitle {
  font-size: $fontSize2;
  font-weight: $fontWeightThin;
  color: $brandBlack;
}

.u-section {
  font-size: $fontSize3;
  font-weight: $fontWeightThin;
  color: $brandBlack;
}

.u-body {
  font-size: $fontSize5;
  font-weight: $fontWeightRegular;
}

.u-hint {
  font-size: $fontSize6;
  font-weight: $fontWeightBold;
}

/* elements */
.u-link {
  color: $brandBlack;
  text-decoration: underline;
  text-decoration-color: $brandPrimary;
  cursor: pointer;

  &:hover {
    color: $brandPrimary;
  }
}

.u-panel {
  padding: $spacing1;
  background-color: $white;
  border-radius: $radius;
  box-shadow: 0px 0px 10px $colorShadow;
}
