<main class="Main">
  <h1 class="Main-title">
    All Cases
  </h1>
  <ul class="CaseList">
    <% if @cases.blank? %>
      <p>No cases left!</p>
    <% else %>
      <% @cases.each do |kase| %>
        <%- view = Cases::View.new(kase) %>
        <% policy.with_case(kase) do %>
          <li class="CaseCell">
            <div class="CaseCell-row">
              <%= link_to(view.recipient_name, cases_enroller_path(kase), class: "CaseCell-name") %>
            </div>
            <div class="CaseCell-row">
              <p class="CaseCell-organizations">
                <%= view.supplier_name %>
              </p>
              <p class="CaseCell-updateTime">
                Updated <%= time_ago_in_words(view.updated_at) %> ago
              </p>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</main>
