<li class="CaseCell">
  <div class="CaseCell-header">
    <p class="CaseCell-name">
      <%= cell.recipient_name %>
    </p>

    <% if not cell.shows_assign? %>
      <p class="CaseCell-assignee">
        <%= cell.assignee %>
      </p>
    <% end %>
  </div>

  <div class="CaseCell-footer">
    <p class="CaseCell-status">
      <% if cell.approved? %>
        Approved
        <img class="CaseCell-checkmark" alt="Checkmark" />
      <% else %>
        Opened
      <% end %>
    </p>

    <p class="CaseCell-date">
      Added
      <%= cell.created_at.to_date %>
    </p>
  </div>
</li>
