@import "Global/Resets";
@import "Global/Config";
@import "Global/Utilities";

.Contract {
  font-family: system-ui, sans-serif;
  font-size: $fontSize5;

  /* --name-row-- */
  &-applicantName {
    display: inline-block;
    width: 30%;
  }

  &-phoneNumber {
    display: inline-block;
    width: 20%;
  }

  /* --address-row-- */
  &-address {
    width: 40%;
  }

  &-address-1 {
    width: 80%;
  }

  /* --signature-row */
  &-meapSignatures {
    margin-top: $spacing1 !important;
  }

  &-signature {
    width: 60%;

    .ContractField-value {
      height: 46px;
      font-size: $fontSize2;
      font-family: cursive, serif;
    }
  }

  &-date {
    width: 20%;

    .ContractField-value {
      height: 46px;
      padding-top: 12px;
    }
  }
}

.ContractSection {
  & + & {
    margin-top: $spacing1;
  }

  &-title {
    display: inline-block;
    color: $brandBlack;
    font-size: $fontSize1;
  }

  &-titleBorder {
    margin-top: $spacing5;
    height: 3px;
    background-color: fade-out($brandPrimary, 0.7);
  }

  /* -- terms -- */
  &-body {
    width: 80%;
    margin-top: $spacing2;
  }

  &-term + &-term {
    margin-top: $spacing3;
  }

  /* -- fields -- */
  &-fields {
    margin-top: $spacing2;

    * + .ContractSection-fieldRow {
      margin-top: $spacing3;
    }
  }

  &-fieldRow {
    display: -webkit-box;

    * + .ContractField {
      margin-left: $spacing4;
    }
  }
}

.ContractField {
  display: block;
  box-sizing: border-box;

  &-hint {
    @extend .u-hint;
    margin-bottom: $spacing5;
    color: $brandBlack;
  }

  &-input {
    border-top-left-radius: $radiusField;
    border-top-right-radius: $radiusField;
    background-color: $colorField;
  }

  &-input + &-input {
    margin-top: $spacing4;
  }

  &-value {
    height: $height2 - 1px;
    padding-top: 7px;
    padding-left: $spacing4;
    padding-right: $spacing4;
  }

  &-border {
    height: 1px;
    background-color: $brandBlack;
  }
}
