.DemoLanding {
  height: 100%;
  padding: 100px;

  .PageHeader {
    margin-bottom: 40px;

    > h1 > img {
      height: 67px;
      margin-left: -4px;
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
  }

  &-nav {
    flex: 2;
  }

  &-roles {
    display: flex;
    width: 66%;
    flex-direction: column;

    > * + * {
      margin-top: 30px;
    }
  }

  &-role {
    border-left: 2px solid var(--role-color);
    padding-left: 15px;

    > a {
      display: block;
      font-size: 24px;
      text-decoration-color: var(--role-color);
    }

    > p {
      margin-top: 10px;
    }
  }

  &-intro {
    flex: 1;
    padding: 30px;
    border: 1px solid #807fff;
    border-radius: 7px;
    background-color: white;

    > h2 {
      margin-bottom: 20px;
    }

    > p {
      font-size: 14px;
    }

    > * + * {
      margin-top: 10px;
    }
  }
}

.DemoPhone {
  height: 100%;
}

.DemoBackButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 7px;
  border: 1px solid var(--role-color);

  &-label, &-prompt {
    padding: 5px 10px;
  }

  &-label {
    background-color: var(--role-color);
  }

  &-role {
    font-weight: 600;
  }

  &:hover {
    opacity: 0.8;
  }
}

.DemoCoachmark {
  $arrow-width: 8px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;

  &-popup {
    position: absolute;
    display: flex;
    align-items: center;
    width: 250px;
    padding: 10px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
    }
  }

  &--bottom &-popup {
    flex-direction: column;
    translate: 0 15px;

    &::before {
      top: -$arrow-width;
      border-left: $arrow-width solid transparent;
      border-right: $arrow-width solid transparent;
      border-bottom: $arrow-width solid white;
    }
  }

  &--left &-popup {
    translate: -15px 0;

    &::before {
      right: -$arrow-width;
      border-top: $arrow-width solid transparent;
      border-bottom: $arrow-width solid transparent;
      border-left: $arrow-width solid white;
    }
  }

  &--right &-popup {
    translate: 15px 0;

    &::before {
      left: -$arrow-width;
      border-top: $arrow-width solid transparent;
      border-bottom: $arrow-width solid transparent;
      border-right: $arrow-width solid white;
    }
  }

  &.is-visible {
    opacity: 1;
  }
}
