.DemoLanding {
  height: 100%;
  padding: 100px;

  &-header {
    margin-bottom: 40px;
    justify-content: space-between;

    > h1 > img {
      height: 67px;
      margin-left: -4x;
    }
  }

  &-links > a {
    display: flex;

    > img {
      margin-top: -1px;
      margin-right: 5px;
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
  }

  &-nav {
    flex: 2;
  }

  &-roles {
    display: flex;
    width: 66%;
    flex-direction: column;

    > * + * {
      margin-top: 30px;
    }
  }

  &-role {
    border-left: 2px solid var(--role-color);
    padding-left: 15px;

    > a {
      display: block;
      font-size: 24px;
      text-decoration-color: var(--role-color);
    }

    > p {
      margin-top: 10px;
    }
  }

  &-intro {
    flex: 1;
    padding: 30px;
    border: 1px solid #807fff;
    border-radius: 7px;
    background-color: white;

    > h2 {
      margin-bottom: 20px;
    }

    > p {
      font-size: 14px;
    }

    > * + * {
      margin-top: 10px;
    }
  }
}

.DemoPhone {
  height: 100%;

  &-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 662px;
  }

  &-mockup {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    fill: #efeeff;
  }
}

.DemoNav {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 7px;
  border: 1px solid var(--role-color);

  &-label, &-home, &-next {
    padding: 5px 10px;
  }

  &-label {
    background-color: var(--role-color);
  }

  &-role {
    font-weight: 600;
  }

  &-actions {
    display: flex;

    > * + * {
      border-left: 1px solid var(--role-color);
    }
  }

  &-home {
    display: flex;
    align-items: center;

    > span {
      width: 15px;
      height: 11px;
      margin-top: -1px;
      margin-right: 10px;
    }

    &:hover > span {
      background-color: #807fff;
    }
  }
}

.DemoCoachmark {
  $arrow-width: 8px;

  position: absolute;
  display: flex;
  align-items: center;
  width: 250px;
  border: 1px solid var(--role-color);
  border-radius: 7px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-body {
    padding: 15px;
  }

  &-next {
    padding: 5px 15px;
    background-color: var(--role-color);
  }

  &-arrow {
    position: absolute;
    width: 8px;
    fill: white;
    stroke: var(--role-color);
    stroke-dasharray: 11.3px 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  &--bottom {
    flex-direction: column;
    transform: translateY(15px);

    > svg {
      top: -$arrow-width * 1.5;
      transform: rotate(90deg);
    }
  }

  &--left {
    transform: translateX(-15px);

    > svg {
      right: -$arrow-width;
      transform: rotate(180deg);
    }
  }

  &--right {
    transform: translateX(15px);
    left: -8px;

    > svg {
      left: -$arrow-width;
    }
  }
}

.Layout--source, .Layout--governor, .Layout--agent, .Layout--enroller {
  .Layout-frame {
    opacity: 0;
    transition: opacity 100ms;

    &.is-visible {
      opacity: 1;
    }
  }
}
