.DemoLanding {
  height: 100%;
  padding: 100px;

  .PageHeader {
    margin-bottom: 40px;

    > h1 > img {
      height: 67px;
      margin-left: -4px;
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
  }

  &-nav {
    flex: 2;
  }

  &-roles {
    display: flex;
    width: 66%;
    flex-direction: column;

    > * + * {
      margin-top: 30px;
    }
  }

  &-role {
    border-left: 2px solid var(--role-color);
    padding-left: 15px;

    > a {
      display: block;
      font-size: 24px;
      text-decoration-color: var(--role-color);
    }

    > p {
      margin-top: 10px;
    }
  }

  &-intro {
    flex: 1;
    padding: 30px;
    border: 1px solid #807fff;
    border-radius: 7px;
    background-color: white;

    > h2 {
      margin-bottom: 20px;
    }

    > p {
      font-size: 14px;
    }

    > * + * {
      margin-top: 10px;
    }
  }
}

.DemoPhone {
  height: 100%;
}

.DemoBackButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 7px;
  border: 1px solid var(--role-color);

  &-label, &-prompt {
    padding: 5px 10px;
  }

  &-label {
    background-color: var(--role-color);
  }

  &-role {
    font-weight: 600;
  }

  &:hover {
    opacity: 0.8;
  }
}

.DemoCoachmark {
  $arrow-width: 8px;

  position: absolute;
  display: flex;
  align-items: center;
  width: 250px;
  padding: 15px;
  border: 1px solid var(--role-color);
  border-radius: 7px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;

  > svg {
    position: absolute;
    width: 8px;
    fill: white;
    stroke: var(--role-color);
    stroke-dasharray: 11.3px 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  &--bottom {
    flex-direction: column;
    translate: 0 15px;

    > svg {
      top: -$arrow-width * 1.5;
      rotate: 90deg;
    }
  }

  &--left {
    translate: -15px 0;

    > svg {
      right: -$arrow-width;
      rotate: 180deg;
    }
  }

  &--right {
    translate: 15px 0;
    left: -8px;

    > svg {
      left: -$arrow-width;
    }
  }
}

.Layout--source, .Layout--governor, .Layout--agent, .Layout--enroller {
  .Layout-content {
    opacity: 0;
    transition: opacity 100ms;

    &.is-visible {
      opacity: 1;
    }
  }
}
