<header class="Header">
  <%=
    link_to(
      image_tag("logo-small-full.svg", alt: t(".logo"), width: 117, height: 36),
      cases_path,
      class: "Header-logo",
    )
  %>
  <div class="Header-user">
    <%= current_user.email %>
    <%=
      button_to(t(".sign-out"), sign_out_path,
        method: :delete,
        class: "Header-signOut Link"
      )
    %>
  </div>
</header>
