<header class="Header">
  <figure class="Header-logo">
    <%= t(".logo") %>
  </figure>
  <% if signed_in? %>
    <div class="Header-user">
      <%= current_user.email %>
      <%=
        button_to(t(".sign-out"), sign_out_path,
          method: :delete,
          class: "Header-signOut Link"
        )
      %>
    </div>
  <% end %>
</header>
